## Игнорировать временные файлы Visual Studio, результаты сборки и
## файлы, созданные популярными надстройками Visual Studio.

# Пользовательские файлы
*.suo
*.пользователь
*.sln.docstates

# Результаты сборки

[Дд] ebug/
[Рр] элеаза/
х64/
[Bb] в/
[Оо] bj/

# Результаты теста MSTest
[Тт] est[Rr]esult*/
[Bb] uild[Ll]og.*

*_i.c
*_p.с
*_i.ч
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.svclog
*.scc

# Файлы кэша Visual C++
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Профилировщик Visual Studio
*.psess
*VSP-файл
*VSPX-файл

# Инструментарий автоматизации руководства
*.gpState

# ReSharper — это надстройка для кодирования .NET
_ReSharper*/
*. [Рр] e[Ss]harper
*. DotSettings.user

# Каталог Click-Once
издавать/

# Публикация веб-вывода
*. Опубликовать.xml
*.pubxml
*.azurePubxml

# Каталог пакетов NuGet
## TODO: Если у вас включено восстановление пакетов NuGet, раскомментируйте следующую строку
Пакеты/
## TODO: Если для используемого вами инструмента требуется repositories.config, также раскомментируйте следующую строку
! пакеты/репозитории.config

# Выходные данные сборки Windows Azure
csx/
*.build.csdef

# Каталог пакетов универсальных приложений Windows
Упаковки приложений/

# Другие
SQL/
*. Тайник
КлиентБин/
[Сс] tyle[Cc]op.*
! [Сс] tyle[Cc]op.targets
~$*
*~
*.dbmdl
*. [пп] ублиш.xml

*.publishsettings

# Проекты RIA/Silverlight
Generated_Code/

# Файлы резервного копирования и отчетов из преобразования старого файла проекта в новый
# Версия Visual Studio. Резервные копии файлов не нужны, потому что у нас есть git ;-)
_UpgradeReport_Files/
Резервная копия*/
ОбновлениеЛог*.XML
ОбновлениеЛог*.htm

# Файлы SQL Server
App_Data/*.mdf
App_Data/*.ldf

# =========================
# Детрит окон
# =========================

# Кэш файлов образов Windows
Большие пальцы.db
эхтумбс.db

# Файл конфигурации папки
Рабочий стол.ini

# Корзина, используемая в общих файловых ресурсах
$RECYCLE. Бункер/

# Файлы хранения данных службы Mac для настольных ПК
.DS_Store

_NCrunch*